<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Mouvement</title>
</head>
<body>
    <h1>Mouvement</h1>

    <h1>Flux Vidéo de la Tablette</h1>
    
    <!-- Affichage du flux vidéo -->
    <img src="{{ url_for('video_feed') }}" width="640" height="480" alt="Flux vidéo en direct">

    <form action="{{ url_for('home') }}" method="get">
        <button type="submit">Retour</button>
    </form>
    
</body>
</html>
