<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Contrôle du Robot</title>
    <style>
        .control-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            text-align: center;
            width: 600px;
            margin: 10;
        }
        .full-width {
            grid-column: span 3;
        }
    </style>
    <script>
        function sendCommand(action) {
            fetch(`/robot/${action}`, { method: 'POST' })
            .catch(error => console.error('Erreur:', error));
        }

        function dance() {
            fetch('/robot/dance', { method: 'POST' })
            .catch(error => console.error('Erreur lors de la danse:', error));
        }
    </script>
</head>
<body>
    <h1>Contrôle du Robot</h1>

    <div class="control-container">
        <div></div>
        <button onclick="sendCommand('Go_Forward')">Avancer</button>
        <div></div>
        
        <button onclick="sendCommand('Go_Turnleft')">Gauche</button>
        <button onclick="sendCommand('Stop')">Stop</button>
        <button onclick="sendCommand('Go_Turnright')">Droite</button>

        <div></div>
        <button onclick="sendCommand('Go_Backward')">Reculer</button>
        <div></div>

        <button class="full-width" onclick="dance()">Danser</button>
    </div>

    <form action="{{ url_for('home') }}" method="get">
        <button type="submit">Retour</button>
    </form>
</body>
</html>
